.AdminNavBar{
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
    background-color: grey;
    width: 1370px;
    margin-left: -100px;
    position: fixed;
    top: 0;

}
.linkss{

margin-top: 10px;
padding: 20px;
}
.linkss a{
    color: blue;
    font-size: large;
    padding: 20px;
    color: white;
    text-decoration: none;
}
.AdminNavBar h2{
    margin-left: 70px;
    font-weight: 1000;

}
.linkss a:hover{
    background-color: aqua;
}
input:hover{
    background-color: brown;
}